---
import Default from '@astrojs/starlight/components/Footer.astro';
---

<Default><slot /></Default>

<footer class="custom-footer">
	<p>&copy; 2025 <a href="https://waveformanalytics.com">Waveform Analytics</a></p>
</footer>

<style>
	.custom-footer {
		border-top: 1px solid var(--sl-color-gray-5);
		padding: 1rem var(--sl-content-pad-x);
		text-align: center;
		font-size: var(--sl-text-xs);
		color: var(--sl-color-gray-3);
	}

	.custom-footer a {
		color: var(--sl-color-gray-2);
	}

	.custom-footer a:hover {
		color: var(--sl-color-white);
	}
</style>